.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.limit-width {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  overflow: scroll;
}

.center {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
